In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\asus\anaconda3\lib\site-packages (1.0.2)

In [9]:
import pymysql
import pandas as pd

In [5]:
connection = pymysql.Connect(host="localhost", user="root", password="root",
                            port=3307, database="netflix")

In [11]:
connection

In [13]:
query = "SELECT * FROM movies"

In [10]:
pd.read_sql(query, connection)

C:\Users\asus\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,m_id,title,release_date,rating,summary,created_at
0,1,Avengers : End Game,2019-05-05,8,All avengers are assembled to kill Thanos,2022-05-22 17:43:28
1,2,KGF : Chapter 2,2022-04-14,8,Rocky Kills Adhira,2022-05-22 17:45:29
2,3,KGF : Chapter 1,2018-04-10,9,Rocky Visits KGF,2022-05-28 15:28:01
3,4,Pushpa : Part 1,2022-01-01,9,Allu Arjun as pushpa,2022-05-28 15:28:01
4,5,Spiderman : No Way Home,2021-12-12,9,Spiderman in multiverse,2022-05-28 15:28:01
5,6,Jersey,2022-04-14,6,Shahid Kapoor plays a parent role and a cricketer,2022-05-28 15:28:01
6,7,Doctor Strange in Multiverse,2022-05-10,7,Doctor Strange open portal for multiverse,2022-05-28 15:28:01