In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "outlook" : ['sunny','sunny','overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy'],
    "temp" : ['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild'],
    'humidity' : ['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high'],
    'windy' : ['false','true','false','false','false','true','true','false','false','false','true','true','false','true'],
    'play' : ['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  false   no
1     sunny   hot     high   true   no
2  overcast   hot     high  false  yes
3     rainy  mild     high  false  yes
4     rainy  cool   normal  false  yes

In [5]:
pd.value_counts(df['outlook'])

sunny       5
rainy       5
overcast    4
Name: outlook, dtype: int64

In [6]:
pd.unique(df['outlook'])

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [8]:
values = pd.unique(df['play'])
entropy = 0
n = len(df)
for value in values:
    x = df['play'].value_counts()[value] / n
    entropy += -x * np.log2(x)

In [9]:
entropy

0.9402859586706311

In [10]:
values

array(['no', 'yes'], dtype=object)

In [25]:
df[df['outlook'] == 'rainy'][df['play'] == 'no']

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1440235493.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['outlook'] == 'rainy'][df['play'] == 'no']

   outlook  temp humidity windy play
5    rainy  cool   normal  true   no
13   rainy  mild     high  true   no

In [24]:
len(df[df['outlook'] == 'rainy'])

5

In [28]:
def calc_avg(df, feature):
    target_values = pd.unique(df['play'])  # ['no', 'yes']
    variables = df[feature].unique()  # ['overcast', 'rainy', 'sunny']
    avg = 0
    for var in variables:   # var = overcast
        entropy = 0
        for target in target_values:  # target = 'no'
            x = len(df[df[feature] == var][df['play'] == target])
            y = len(df[df[feature] == var])
            e = x / y + np.finfo(float).eps
            entropy += -e * np.log2(e + np.finfo(float).eps)
        attr = y / n
        avg += attr * entropy
    return avg

In [29]:
calc_avg(df, 'outlook')

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1778659069.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = len(df[df[feature] == var][df['play'] == target])

0.6935361388961945

In [30]:
calc_avg(df, 'humidity')

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1778659069.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = len(df[df[feature] == var][df['play'] == target])

0.7884504573082887

In [32]:
calc_avg(df, 'temp')

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1778659069.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = len(df[df[feature] == var][df['play'] == target])

0.9110633930116754

In [33]:
calc_avg(df, 'windy')

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1778659069.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = len(df[df[feature] == var][df['play'] == target])

0.8921589282623608

In [34]:
entropy - calc_avg(df, 'outlook')

C:\Users\asus\AppData\Local\Temp/ipykernel_19568/1778659069.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x = len(df[df[feature] == var][df['play'] == target])

0.24674981977443666